!!!
html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    script(src='/public/javascripts/jquery-1.8.2.min.js')
    script(src='/public/javascripts/client.js')
    script(src='/public/javascripts/basictext.js')
    script(src='/public/javascripts/loadavg.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.1/underscore-min.js')
    link(rel='stylesheet', href='/public/stylesheets/style.css')

  body
    div(class='flash')
    div(class='content')!= body
  
