!!!
html
  head
    title= title
    script(type='text/javascript')
      window.handlerTypes = [];
    != css('style.css')


  body
    div(class='flash')
    div(class='content')
      block content
  
    script(src='/socket.io/socket.io.js')
    != js('timeline.js')
    != js('scatter.js')
    != js('basictext.js')
    script(src='/js/vendor/d3.v3.min.js')
    != js('client.js')
