extends layout

block content
  h1 
    span.infobutton.iconic.paperclip #{channel.name}

  .infobox.hidden
    ul.gists
    input(type='text', size='50')
    button#add_gist Add Gist
    h4 Available Views:
    ul.view-container

  .view
  != js('show.js')
