extends layout

block content
  h1 
    span.infobutton.iconic.paperclip #{channel.name}

  .infobox.hidden
    ul.gists
    h5 Add Gist:
    h4 Available Views:
    ul.view-container

  .view
  != js('show.js')
