h1 What is ScratchLab?

section
  h3 It's a workspace

  p
    | This is 
    a(href="http://github.com/trinary/scratchlab") ScratchLab
    | .
  p
    | The purpose of ScratchLab is to give you a way to quickly write visualization code, and apply it to data on the fly.
  p
    | Write code that has a data() function, organized the same way CoffeeScript classes are set up.  Include a property called "handles" that is an array of data type names.
  p
    | asdfasd
