h1 What is 
  a(href="http://github.com/trinary/scratchlab") ScratchLab
  ?

section
  h3 It's a workspace

  p
    | The purpose of ScratchLab is to give you a way to quickly write visualization code, and apply it to data on the fly.
  p
    | Create an object that has a data() function, organized the same way CoffeeScript classes are set up.  That object should also have a property called "handles" that is an array of data type names.
  p
    | Then, you (or someone else) can POST data that looks like the type you're expecting, and your data() method will get called, assuming your "handles" attribute includes the type property of the data.
    | If you wanted to make a line graph, for example, 
