body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

section
  width: 400px

.view
  display: -webkit-flex
  display: flex
  -webkit-flex-flow: column wrap-reverse
  border: 1px solid #666
  width: 960px
  height: 640px
  overflow: hidden

.handler
  border: 1px solid #333
  overflow: auto
  -webkit-flex: 1 0 20px

.primary
  -webkit-flex: 2 0

.text
  color: #00F
