body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

section
  width: 400px

.view
  width: 960px
  border: 1px solid #aaa

.handler
  border: 1px solid #999
  overflow: auto

.text
  color: #00F

.load-avg-line
  stroke: rgb(59, 100, 162)
  stroke-width: 3px
  fill: none
