body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  width: 400px;
}

.view {
  width: 960px;
}

.handler {
  height: 400px;
}

.text {
  color: #00F;
}

header {
}

.hidden {
  display: none;
}


.timeline {
  stroke: rgb(59, 100, 162);
  stroke-width: 3;
  fill: none;
}

.axis path {
  stroke: #777;
  stroke-width: 1;
  shape-rendering: crispEdges;
  fill:none;
}

.dot {
  stroke: #ccc;
  stroke-width: 1;
  fill: #33cc33;
}

.menu {
  list-style-type: none;
  padding: 0px;
  .item {
    padding: 2px;
    margin-right: 16px;
    float: left;
  }
}

.infobox {
  border: 1px #c3c3c3 solid;
  position: absolute;
  width: 400px;
  left: 60px;
  top: 150px;
  background: #f2f2f2;
}

.infox {
  padding-left: 8px;
  padding-top: 8px;
  font: 14px;
}

.view-container {
  list-style-type: none;
  padding: 0px;
  li {
    padding: 2px;
    margin-right: 16px;
    float: left;
  }
}
