body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  width: 400px;
}

.view {
  width: 960px;
  height: 360px;
}

.handler {
  overflow: auto;
}

.text {
  color: #00F;
}

.timeline {
  stroke: rgb(59, 100, 162);
  stroke-width: 3;
  fill: none;
}

.axis path {
  stroke: #777;
  stroke-width: 1;
  shape-rendering: crispEdges;
  fill:none;
}
