body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00b7ff; }

.view {
  display: -webkit-flex;
  display: flex;
  webkit-flex: auto;
  flex-flow: column wrap-reverse;
  -webkit-flex-flow: column wrap-reverse;
  border: 1px solid #666666;
  width: 960px;
  height: 960px; }

.handler {
  border: 1px solid #333333;
  overflow: auto; }

.text {
  color: blue; }
