body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00b7ff; }

section {
  width: 400px; }

.view {
  width: 960px;
  height: 360px;
  border: 1px solid #aaaaaa; }

.handler {
  border: 1px solid #999999;
  overflow: auto; }

.text {
  color: blue; }

.load-avg-line {
  stroke: #3b64a2;
  stroke-width: 3px;
  fill: none; }
